body {
	background: url(../img/terrain2017.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.central-main-container {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

.background {
	background: #F9F9F9;
	padding: 25px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

#bs-example-navbar-collapse-1 {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	font-weight: 700;
}

.navbar {
	background-color: none !important;
	border-color: none !important;
}

.navbar-fixed-top {
	position: static;
}

#logo {
	float: left;
	margin-top: 10px;
}

.btn-home {
	display: inline-block;
	border-radius: 4px;
	background-color: #404040;
	border: none;
	color: #FFF;
	text-align: center;
	font-size: 24px;
	padding: 12px;
	width: 270px;
	height: 160px;
	transition: all 0.5s;
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	margin: 20px;
}

.btn-home span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	width: 180px;
}

.btn-home span:after {
	content: url('../img/balle2.png');
	position: absolute;
	opacity: 0;
	top: 0;
	left: -70px;
	transition: 0.5s;
}

.btn-home:hover span {
	padding-left: 30px;
}

.btn-home:hover span:after {
	opacity: 1;
	left: 0;
}

.effet-nav-home:hover {
	transform: scale(1.08);
	background-color: #222;
	-webkit-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

#header-logo {
	color: #FFF;
	font-family: 'Lato', sans-serif;
	float: left;
	width: 250px;
	text-align: center;
	border-right: 1px solid #FFF;
	margin-top: 20px;
}

#title {
	font-weight: 400;
	font-size: 30px;
}

#ariane {
	color: #155040;
	margin-left: 20px;
	float: left;
	margin-top: 25px;
	line-height: 100px;
	text-transform: uppercase;
}

.lien-nav {
	width: 150px;
	height: 50px;
	background-color: rgba(21, 80, 64, 0.7);
	margin: 10px;
	text-align: center;
	color: #FFF;
	text-transform: uppercase;
}

a:hover, a:focus {
	color: #155040;
}

.admin {
	background-color: #C76131;
	width: 150px;
}

header {
	text-align: center;
	color: #fff;
}

header .intro-text {
	padding-top: 100px;
	padding-bottom: 200px;
}

header .intro-text .intro-lead-in {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 25px;
	font-size: 50px;
}

header .intro-text .intro-heading {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 75px;
	line-height: 75px;
	margin-bottom: 50px;
}

.tab {
	margin-bottom: 50px;
}

.head-tab {
	background-color: #C76131;
	color: #FFF;
	border-radius: 5px 5px 0 0;
	padding: 10px;
}

.resultat table {
	width: 100%;
	margin-bottom: 0px;
}

.resultat .background {
	background: rgba(255, 255, 255, 0.5);
}

.resultat tbody>tr>td {
	border: none;
}

#nom-court {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #155040;
}

#type {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #FFF;
}

.nom-joueur, .nom-equipe {
	color: #155040;
	font-size: 18px;
}

.set {
	font-size: 16px;
	color: #FFF;
}

.score {
	font-size: 20px;
	font-weight: 700;
	color: #155040;
}

.duree {
	text-align: center;
	border-top: 1px solid #FFF;
	background-color: #C76131;
	color: #FFF;
	line-height: 40px;
	display: block;
	border-radius: 0 0 5px 5px;
}

footer {
	background-color: #155040;
	color: #FFF;
	line-height: 40px;
	bottom: 0px;
	position: fixed;
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.container {
		width: 600px;
		border: 1px solid red;
	}
	header .intro-text {
		padding-top: 200px;
		width: 100%;
		height: auto;
	}
	.collapse {
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.container {
		width: 100%;
	}
	header .intro-text {
		padding-top: 200px;
		width: 100%;
		height: auto;
		font-size: 30px;
	}
}